<ion-view title="Acerca de" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="acercaDe-heading8" style="color:#006679;" class=" ">eCAL</h1>
        <h3 id="acercaDe-heading7" style="color:#646464;text-align:justify;" class=" ">eCal es una aplicación diseñada para brindar ejercicios para el aprendizaje de memoria fonética, te invitamos a que te diviertas y en caso de tener comentarios o sugerencias te recomendamos enviarnos un correo:</h3>
        <div class="list card " id="acercaDe-card22">
            <ion-item class="item-icon-left positive  " id="acercaDe-list-item7" href="mailto:alandjnoventaytres@gmail.com">
                <i class="icon ion-ios-email"></i>Alan Dorame
                <span class="item-note">alandjnoventaytres@gmail.com</span>
            </ion-item>
            <ion-item class="item-icon-left positive  " id="acercaDe-list-item10" href="mailto:alejandra_molinaramos@hotmail.com">
                <i class="icon ion-ios-email"></i>Alejandra Molina
                <span class="item-note">alejandra_molinaramos@hotmail.com</span>
            </ion-item>
            <ion-item class="item-icon-left positive  " id="acercaDe-list-item9" href="mailto:xaxelmonroyx@gmail.com">
                <i class="icon ion-ios-email"></i>Axel Monroy
                <span class="item-note">xaxelmonroyx@gmail.com</span>
            </ion-item>
            <ion-item class="item-icon-left positive  " id="acercaDe-list-item11" href="mailto:fob2257@gmail.com">
                <i class="icon ion-ios-email"></i>Saul Meneses
                <span class="item-note">fob2257@gmail.com</span>
            </ion-item>
            <ion-item class="item-icon-left positive  " id="acercaDe-list-item12" href="mailto:ramon.osc93@gmail.com">
                <i class="icon ion-ios-email"></i>Ramón Romero
                <span class="item-note">ramon.osc93@gmail.com</span>
            </ion-item>
        </div>
        <a ui-sref="menu.home" class="button icon-left ion-chevron-left button-clear button-dark">Volver a Menú</a>
    </ion-content>
</ion-view>