<ion-view title="CompletarPalabras1" id="page9">
    <ion-content padding="true" class="has-header">
        <form class="list"></form>
        <div class="spacer" style="height: 100px;"></div>
        <div>
            <h1>
                Árb
            </h1>
        </div>
        <form class="list">
            <ion-checkbox>ol</ion-checkbox>
            <ion-checkbox>ar</ion-checkbox>
        </form>
        <a ui-sref="menu.felicidades" id="completarPalabras1-button9" class="button button-positive  button-block icon ion-checkmark-circled">Verifcar</a>
    </ion-content>
</ion-view>