<ion-view title="Completar palabras" id="page5">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="menu.completarPalabras1" id="completarPalabras-button12" class="button button-positive  button-block">1</a>
            <button id="completarPalabras-button13" class="button button-positive  button-block">2</button>
            <button id="completarPalabras-button14" class="button button-positive  button-block">3</button>
        </div>
        <div class="spacer" style="width: 285px; height: 16px;"></div>
        <div class="button-bar">
            <button id="completarPalabras-button15" class="button button-positive  button-block">4</button>
            <button id="completarPalabras-button16" class="button button-positive  button-block">5</button>
            <button id="completarPalabras-button17" class="button button-positive  button-block">6</button>
        </div>
        <div class="spacer" style="width: 285px; height: 223px;"></div>
        <div>
            <a class="button icon-left ion-chevron-left button-clear button-dark">Volver</a>
        </div>
    </ion-content>
</ion-view>