<ion-view title="CompletarPalabras1" id="page9">
    <ion-content padding="true" class="has-header">
        <form class="list"></form>
        
        <div>
      
            <h1>
                Árb__
            </h1>
        </div>

        <!-- <form class="list">
            <ion-checkbox>ol</ion-checkbox>
            <ion-checkbox>ar</ion-checkbox>
        </form> -->
          <ion-item-group>
            <ion-item>
              <ion-radio name="radio" id="radiobuton" ng-repeat="item in items"  ng-click="speakText('Árb'+'{{item}}'); respuesta('{{item}}')">{{item}}</ion-radio>
            </ion-item>
          </ion-item-group>
        <!-- <a ui-sref="menu.felicidades" id="completarPalabras1-button9" class="button button-positive  button-block icon ion-checkmark-circled">Verifcar</a> -->
        <button ng-click="verificar()" type="button" class="button button-positive  button-block icon ion-checkmark-circled">Verificar</button>


          <div class="item ">
    <img style="height: 100px " src="http://3.bp.blogspot.com/-h6mXRVQaLPg/VAC36kG1UTI/AAAAAAAAFDo/8I-sxdwqlJQ/s1600/RMK1554GM_Kids_Tree_Giant_Wall_Decal_med.jpg">

  </div>

  </div>



    </ion-content>
</ion-view>
<script type="text/javascript">
  var original = document.getElementsByName("radio").checked;
    function verificar() {
      if (original == 'ol') {
        document.getElementsByName('radio').checked = false;
        window.location="menu.felicidades";
      } else {
        alert('siga intentando');
      }
    }
</script>
