<ion-view title="Felicidades" id="page6">
    <ion-content padding="true" class="has-header">
        <div>
            <a class="ion-happy button item block" style=" color:#00A388; font-size:600% ">
            </a>
        </div>
        <div class="spacer" style="width: 285px; height: 43px;"></div>
        <h1 id="felicidades-heading1" style="color:#00A388;font-weight:600;text-align:center;">Ganaste</h1>
        <div>
            <a class="ion-social-usd button item block" style=" color:#00A388; font-size:500% ">10
            </a>
        </div>
        <div class="spacer" style="width: 285px; height: 30px;"></div>
        <a ui-sref="menu.completarPalabras" id="felicidades-button7" class="button button-positive  button-block">Continuar</a>
    </ion-content>
</ion-view>