<ion-view title="Instrucciones" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="instrucciones-heading9" style="color:#00796F;text-align:center;" class=" ">Hola ¿Eres un jugador nuevo?</h2>
        <ion-list id="instrucciones-list3" class=" ">
            <ion-item class="item-icon-left item-icon-right energized  " id="instrucciones-list-item13">
                <i class="icon ion-happy"></i>
                <i class="icon ion-happy"></i>
            </ion-item>
        </ion-list>
        <h4 id="instrucciones-heading10" style="color:#00796F;text-align:justify;" class=" ">Me alegro de que nos acompañes, esperamos te diviertas mucho. Para empezar ve al menú principal y selecciona jugar después sigue las instrucciones y consigue tantas medallas como puedas .</h4>
       <a ui-sref="menu.home" class="button icon-left ion-chevron-left button-clear button-dark">Volver a Menú</a>
    </ion-content>
</ion-view>