<ion-view title="Tipos de juegos" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 285px; height: 36px;"></div>
        <div>
            <a class="button button-icon icon   ion-ios-game-controller-a block"></a>
        </div>
        <a ui-sref="menu.completarPalabras" id="tiposDeJuegos-button4" class="button button-positive  button-block">Completar palabras</a>
        <button id="tiposDeJuegos-button6" class="button button-positive  button-block">Separar silabas</button>
        <button id="tiposDeJuegos-button5" class="button button-positive  button-block">Coordinación</button>
    </ion-content>
</ion-view>