<ion-view title="Usuario" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="usuario-list2" class=" ">
            <ion-item class="item-avatar item-icon-right calm  " id="usuario-list-item4">
                <img src="img/kid.jpg">
                <h2calm>Juan
                    <p>Nivel 25</p>
                    <i class="icon ion-social-bitcoin"></i>
                </h2calm>
            </ion-item>
        </ion-list>
        <h3 id="usuario-heading3" style="color:#005874;" class=" ">Nivel 25 - 70/100</h3>
        <div>
            <progress max="100" value="70"></progress>
        </div>
        <div id="usuario-button-bar4" class=" button-bar "></div>
        <div class="spacer" style="width: 285px; height: 50px;"></div>
        <div id="usuario-button-bar5" class=" button-bar ">
            <button id="usuario-button20" class=" button button-stable button-large button-block icon ion-bag ">$10</button>
            <a ui-sref="menu.completarPalabras" id="usuario-button22" style="font-weight:600;color:#000829;" class=" button button-energized  button-block ">Comprar</a>
        </div>
        <div class="spacer" style="width: 285px; height: 34px;"></div>
        <h1 id="usuario-heading4" style="color:#005874;text-align:center;" class=" ">Medallas</h1>
        <div class="">
            <img src="img/medal.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="usuario-markdown2" style="color:#797979;" class=" ">
            <strong>Perfección:</strong>Obtener $10 monedas en el primer intento</p>
        <div class="">
            <img src="img/star_silver-512.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="usuario-markdown5" style="color:#797979;" class=" ">
            <strong>Constancia:</strong>Resolver ejercicios durante 3 días seguidos</p>
    </ion-content>
</ion-view>