<ion-view title="Vuelve a intentarlo" id="page8">
    <ion-content padding="true" class="has-header">
        <div>
            <a class="ion-android-sad button item block" style=" color:#FF6138; font-size:600% ">
            </a>
        </div>
        <div class="spacer" style="width: 285px; height: 16px;"></div>
        <h2 id="vuelveAIntentarlo-heading2" style="color:#00A388;font-weight:600;text-align:center;">Vuelve a intentarlo, pero toma</h2>
        <div>
            <a class="ion-social-usd button item block" style=" color:#00A388; font-size:500% ">2
            </a>
        </div>
        <div class="spacer" style="width: 285px; height: 30px;"></div>
        <button id="vuelveAIntentarlo-button8" class="button button-positive  button-block">Continuar</button>
    </ion-content>
</ion-view>